spring:
  application:
    name: task-manager-api
  profiles:
    active: ${SPRING_PROFILE:dev}
  jpa:
    open-in-view: false

server:
  port: ${PORT:8080}
  error:
    include-message: always
    include-binding-errors: always

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    tags-sorter: alpha
    operations-sorter: alpha
